<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.adcash.cordova.plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AdcashSDK</name>
    <js-module name="AdcashSDK" src="www/AdcashSDK.js">
        <clobbers target="cordova.plugins.AdcashSDK" />
    </js-module>
    <platform name="android">

		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
				android:name="com.adcash.mobileads.AdcashInterstitialActivity"
				android:theme="@android:style/Theme.Translucent" />
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml" >
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		</config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdcashSDK">
                <param name="android-package" value="com.adcash.cordova.plugin.AdcashSDK" />
            </feature>
        </config-file>

        <source-file src="src/android/AdcashSDK.java" target-dir="src/com/adcash/cordova/plugin/AdcashSDK" />
        <source-file src="src/android/libs/adcash-sdk-lib-1.2.1.jar" target-dir="libs" />

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AdcashSDK">
                <param name="ios-package" value="AdcashSDK" />
            </feature>
        </config-file>
        <source-file src="src/ios/AdcashSDK.m" />
        <framework src="src/ios/AdcashSDK.framework" custom="true" />

        <!-- AdcashSDK's system framework dependencies -->
        <framework src="AdSupport.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Foundation.framework" />
        <framework src="UIKit.framework" />

        <!-- AFNetworking's system framework dependencies -->
        <framework src="MobileCoreServices.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
    </platform>
</plugin>
